---
import Section from "@/components/Section.astro";
import { education } from "@cv";
---

<Section>
  <article>
    <header>
      <h2 class="section-title">FORMACIÓN ACADÉMICA</h2>
    </header>
    <footer>
      {
        education.map(
          ({ institution, url, studyType, area, startDate, endDate }) => {
            const startYear = new Date(startDate).getFullYear();
            const endYear =
              endDate != null ? new Date(endDate).getFullYear() : "Actualidad";

            return (
              <section class="supplement-entry">
                <header>
                  <div>
                    <h3>{institution}</h3>
                    <h4>{area}</h4>
                  </div>
                  <div>
                    <time datetime={startDate} data-title={startDate}>
                      {startYear}
                    </time>
                    -
                    <time datetime={startDate} data-title={startDate}>
                      {endYear}
                    </time>
                  </div>
                </header>
              </section>
            );
          },
        )
      }
    </footer>
  </article>
</Section>

<style>
  @reference "tailwindcss";

  .section-title {
    @apply py-0.5 mb-2 text-white bg-[#223558] text-center font-semibold;
  }

  .supplement-entry {
    @apply mb-1;
  }

  .supplement-entry header {
    @apply flex justify-between items-start gap-2 mt-1;
  }

  .supplement-entry h3 {
    font-weight: 500;
    color: #111;
  }

  .supplement-entry h4 {
    font-weight: 400;
    color: #555;
  }

  .supplement-entry a {
    color: #111;
  }

  .supplement-entry a:hover {
    text-decoration: underline;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
    cursor: default;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }

  @media print {
    * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    .section-title {
      background-color: #223558 !important;
      color: white !important;
    }

    h2,
    h3 {
      color: white #222;
    }

    h4 {
      color: #555;
    }
  }
</style>
