---
import Section from "@/components/Section.astro";
import { supplementaleducation } from "@cv";
---

<Section>
  <article>
    <header>
      <h2 class="section-title">INGLÉS / COMPUTACIÓN</h2>
    </header>

    {
      supplementaleducation.map(({ institution, url, studyType, area, startDate, endDate }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actualidad";

        return (
          <section class="supplement-entry">
            <header>
              <div>
                <h3>{area}:</h3>
                <small>{studyType}</small>
                <h3>INSTITUCIÓN:</h3>
                <small>
                  <a href={url} title={`Ver ${institution}`} target="_blank" rel="noopener noreferrer">
                    {institution}
                  </a>
                </small>
              </div>
              <div>
                <time datetime={startDate} data-title={startDate}>{endYear}</time>
              </div>
            </header>
          </section>
          <hr class="text-gray-300 my-1">
        );
      })
    }
  </article>
</Section>

<style>
  @reference "tailwindcss";

  .section-title {
    @apply py-0.5 mb-2 text-white bg-[#223558] text-center font-semibold;
  }

  /* .supplement-entry {
    @apply mb-2;
  } */

  .supplement-entry header {
    @apply flex justify-between items-start gap-2 mb-1;
  }

  .supplement-entry h3 {
    font-weight: 500;
    color: #111;
  }

  .supplement-entry h4 {
    font-weight: 400;
    color: #222;
  }

  .supplement-entry a {
    color: #111;
  }

  .supplement-entry a:hover {
    text-decoration: underline;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
    cursor: default;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }

  @media print {
    * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    .section-title {
      background-color: #223558 !important;
      color: white !important;
    }

    h2, h3, h4 {
      color: black !important;
    }
  }
</style>
